.created-at { 
    font-weight: lighter;
    border-bottom: 1px solid lightGray;
    display: flex;
    flex-direction: column;

    &.right {
        text-align: right;
    }
    &.left {
        text-align: left;
    }
}

