#root {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(49, 48, 48, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
